// Colors

// Base
$color-light: #fff;
$color-dark: #0c1011;

// Light
$color-light-100: #fbfdff;
$color-light-200: #d6dce3;
$color-light-300: #b6bec9;
$color-light-400: #858d9c;

// Dark
$color-dark-100: #474e59;
$color-dark-200: #1f2226;
$color-dark-300: #191b1e;
$color-dark-400: #101316;
